<div class="product-img">
    <a href="{% url 'products:product_detail' pk=id %}">
        <div class="product__image">
            <img src="{{ product.image.url }}" alt="{{ product.title }}">
        </div>
        <h2 class="product__title">
            {{ product.title }}
        </h2>
        <span class="product__cost">
            {{ product.cost }}
        </span>
    </a>
    <button itemid="{{ product.id }}" class="product-item__wrapper_button">
        Order Us<img class="product-item__wrapper_arrow" src="/static/img/arrow-2.svg" alt="arrow">
    </button>
</div>