{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fishnet Chair</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="padding-site contact-top">
            <div class="header">
                <a class="logo" href="/"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
                <ul class="menu">
                    {% include 'mainapp\components\menu.html' %}
                    <li>
                        <form><img src="{% static 'img/search.svg' %}" alt="search"><input type="search" placeholder="Search..."></form>
                    </li>
                </ul>
                <div class="caption-contacts">
                    {% block page_title %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="master-page">
            {% block page_content %}
            {% endblock %}
        </div>
        <div class="footer-all footer-environment">
            <div class="footer">
                <div class="contact-us">
                    <h2>CONTACT US</h2>
                    <p>132A Bridge Road Richmond VIC&nbsp;Australia.</p> <br>
                    <p>Talk to&nbsp;us on&nbsp;1300&nbsp;132 info@interior.com</p>
                </div>
                <div class="useful-inf">
                    <h2>USEFUL INFORMATION</h2>
                    <ul class="footer-ul">
                        <li>SALES TERMS</li>
                        <li>CUSTOMER CARE</li>
                        <li>DELIVERY</li>
                        <li>ARCHITECT ACCOUNTS</li>
                        <li>CAREERS</li>
                        <li>EXCHANGES &amp;&nbsp;RETURNS</li>
                    </ul>
                </div>
                <div class="lets-stay">
                    <h2>LET&rsquo;S STAY IN&nbsp;TOUCH!</h2>
                    <p>Suscribe to&nbsp;know about our latest news, products and special offers just for suscribers.</p>
                    <form action="#">
                        <input class="email" type="text" name="email" placeholder="your email address">
                        <button type="button"><img src="{% static 'img/airplane.png' %}" alt="airplane"></button>
                    </form>
                </div>
            </div>
            <div class="footer footer-end">
                <h4>&copy;&nbsp;COPYRIGHT&nbsp;&mdash; INTERIOR 2016. All RIGHTS RESERVED.</h4>
                <div class="icon-link-block">
                    <a class="icon-link" href="#">
<i class="fab fa-facebook-f"></i>
</a>
                    <a class="icon-link" href="#">
<i class="fab fa-twitter"></i>
</a>
                    <a class="icon-link" href="#">
<i class="fab fa-google-plus-g"></i>
</a>
                    <a class="icon-link" href="#">
<i class="fab fa-pinterest-p"></i>
</a>
                </div>
                <h4>TERMS &amp;&nbsp;CONDITIONS&nbsp;/ PRIVACY POLICY &amp;&nbsp;COOKIES</h4>
            </div>
        </div>
    </div>
</body>

</html>