{% extends 'mainapp/products.html' %}
{% load static %}

{% block page_content %}
    {% for product in object_list %}
    {% include 'products/components/product_link.html' with id=product.id %}
    {% endfor %}
{% endblock %}

{% block product_js %}
<script src="{% static 'js/counter.js' %}"></script>
<script>
    const items = document.querySelectorAll('.product-img');
    items.forEach(
        itm => {
            const btn = itm.querySelector('button')
            btn.addEventListener(
                'click',
                evt => {
                    incLocalValue(
                        'products', btn.getAttribute('itemid')
                    )
                }
            )
        }
    );
</script>
{% endblock %}

{% block product_pagination %}
    <ul class="product__pagination">
    {% if page_obj.has_previous %}
    <li class="pagination__control_previous">
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination__link">Previous</a>
    </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    <li class="pagination__control">
        <a href="?page={{ num }}" class="pagination__link">{{ num }}</a>
    </li>
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="pagination__control_next">
        <a href="?page={{ page_obj.next_page_number }}" class="pagination__link">Next</a>
    </li>
    {% endif %}
    </ul>
{% endblock %}